In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sales_data.csv')

In [3]:
print(df.head())

   Order_ID                         Product   Category  Quantity  Price  \
0      1001                 Cabbage - Green    Samsung         3   5325
1      1002                  Onions - White      Nokia         1   4175
2      1003        Bread - Focaccia Quarter  Panasonic         3   5903
3      1004  Pasta - Fettuccine, Egg, Fresh       Oppo         3   8088
4      1005             Allspice - Jamaican    Samsung         4  10119

   Total_Amount        Date
0             0    8/4/2024
1             0   11/9/2024
2             0   5/12/2024
3             0   5/21/2024
4             0  12/13/2024

In [4]:
df.fillna(0, inplace=True)

In [6]:


df['Total_Amount'] = df['Quantity'] * df['Price']

print(df.head())  # Display the first few rows to verify

   Order_ID                         Product   Category  Quantity  Price  \
0      1001                 Cabbage - Green    Samsung         3   5325
1      1002                  Onions - White      Nokia         1   4175
2      1003        Bread - Focaccia Quarter  Panasonic         3   5903
3      1004  Pasta - Fettuccine, Egg, Fresh       Oppo         3   8088
4      1005             Allspice - Jamaican    Samsung         4  10119

   Total_Amount        Date
0         15975    8/4/2024
1          4175   11/9/2024
2         17709   5/12/2024
3         24264   5/21/2024
4         40476  12/13/2024

In [7]:
grouped_df = df.groupby('Product')['Quantity'].sum()

most_sold_product = grouped_df.idxmax()

print(f"The most sold product is: {most_sold_product}")

The most sold product is: Aromat Spice / Seasoning

In [8]:
total_sales_per_product = df.groupby('Product')['Total_Amount'].sum()

print(total_sales_per_product)

Product
Allspice - Jamaican               40476
Aromat Spice / Seasoning          15545
Beer - Upper Canada Lager          6308
Bonito Flakes - Toku Katsuo       35995
Bread - Focaccia Quarter          17709
Cabbage - Green                   15975
Chicken - Breast, 5 - 7 Oz         5765
Cream - 18%                       27450
Flour - Bran, Red                 29535
Langers - Cranberry Cocktail      12627
Longos - Chicken Curried           7540
Nantuket Peach Orange             15670
Oneshot Automatic Soap System      8057
Onions - White                     4175
Pasta - Fettuccine, Egg, Fresh    24264
Pepper Squash                     10895
Sauce - Ranch Dressing            53190
Skirt - 29 Foot                   48235
Soup - Campbells Chicken           3397
Watercress                        31268
Wine - Alsace Gewurztraminer      31750
Wine - Red Oakridge Merlot        21576
Wine - Red, Antinori Santa        20944
Name: Total_Amount, dtype: int64

In [9]:
orders_above_500 = df[df['Total_Amount'] > 500]

print(orders_above_500)

    Order_ID                         Product   Category  Quantity  Price  \
0       1001                 Cabbage - Green    Samsung         3   5325
1       1002                  Onions - White      Nokia         1   4175
2       1003        Bread - Focaccia Quarter  Panasonic         3   5903
3       1004  Pasta - Fettuccine, Egg, Fresh       Oppo         3   8088
4       1005             Allspice - Jamaican    Samsung         4  10119
5       1006                   Pepper Squash     Realme         5   2179
6       1007        Soup - Campbells Chicken         LG         1   3397
7       1008                     Cream - 18%       Yezz         5   5490
8       1009                 Skirt - 29 Foot    Samsung         5   9647
9       1010      Chicken - Breast, 5 - 7 Oz   verykool         1   5765
10      1011       Beer - Upper Canada Lager    Maxwest         1   6308
11      1012        Longos - Chicken Curried         LG         2   3770
12      1013                      Watercress        HTC         4   7817
13      1014               Flour - Bran, Red     Lenovo         5   5907
14      1015           Nantuket Peach Orange   Motorola         2   7835
15      1016      Wine - Red Oakridge Merlot   Motorola         4   5394
16      1017    Wine - Alsace Gewurztraminer       Oppo         5   6350
17      1018    Langers - Cranberry Cocktail    Samsung         3   4209
18      1019        Aromat Spice / Seasoning      LeEco         5   3109
19      1020          Sauce - Ranch Dressing    alcatel         5  10638
20      1021     Bonito Flakes - Toku Katsuo   verykool         5   7199
21      1022   Oneshot Automatic Soap System    alcatel         1   8057
22      1023      Wine - Red, Antinori Santa    alcatel         4   5236

    Total_Amount        Date
0          15975    8/4/2024
1           4175   11/9/2024
2          17709   5/12/2024
3          24264   5/21/2024
4          40476  12/13/2024
5          10895   4/11/2024
6           3397    2/8/2025
7          27450   5/20/2024
8          48235  11/27/2024
9           5765   6/14/2024
10          6308   4/19/2024
11          7540   3/24/2024
12         31268  12/29/2024
13         29535   6/21/2024
14         15670   5/28/2024
15         21576   5/21/2024
16         31750  10/22/2024
17         12627   1/28/2025
18         15545    5/5/2024
19         53190    8/6/2024
20         35995  12/16/2024
21          8057   4/12/2024
22         20944   8/24/2024

In [11]:
df.to_csv('res.csv', index=False)
print("File created successfully")

File created successfully