In [2]:
#simple print method
print("Hello World")

Hello World

In [19]:
# variables
num1=10
num2=20.89
name="Mind Sprint"

print("Number 1: ", num1)
print("Number 2: ", num2)
print("Name: ", name)

print(type(num1))
print(type(num2))
print(type(name))

Number 1:  10
Number 2:  20.89
Name:  Mind Sprint
<class 'int'>
<class 'float'>
<class 'str'>

In [17]:
x, y, z = "Orange", "banana", "Cherry"
print(x)

Orange

In [8]:
x, y, z = "Orange", "banana", "Cherry"
print(x+y+z)

OrangebananaCherry

In [13]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(y,z)

banana cherry

In [14]:
x, y, z="test1", "test2", "test3"
print(x," ",y," ",z)

test1   test2   test3

In [15]:
p=q=r="temp"
print(p," ",r," ",q)

temp   temp   temp

In [26]:

num1 = input("Enter first no.: ")
num2 = input("Enter second no.: ")

print("Addition: ", (int(num1)+int(num2)))

Enter first no.:  3
Enter second no.:  3

Addition:  6

In [27]:

num1 = input("Enter first no.: ")
num2 = input("Enter second no.: ")

n1 = int(num1)
n2 = int(num2)
print("Addition: ", (n1+n2))

Enter first no.:  4
Enter second no.:  5

Addition:  9

In [28]:
num1 = 10
num2 = 3

addition = num1+num2
print("Addition: ", addition)

substraction = num1-num2
print("Substraction: ", substraction)

multiplication = num1*num2
print("Multiplication: ", multiplication)

Addition:  13
Substraction:  7
Multiplication:  30

In [31]:
#division
num1 = 10
num2 = 5
division = num1/num2
print("Division: ",division)

Division:  2.0

In [32]:
#modulus(remainder)

modulus = num1%num2
print("Modulus: ",modulus)


#Exponentiation(power)
exponentiation = num1**num2
print("Exponentiation: ", exponentiation)

#Floor division
floor_division = num1//num2
print("Floor Division: ", floor_division)

Modulus:  0
Exponentiation:  100000
Floor Division:  2

In [34]:
num1 = 8
num2 = 9


print("Is num1 equal to num2? ", num1==num2)
print("Is num1 not equal to num2? ", num1!=num2)
print("Is num1 greater than num2? ", num1>num2)
print("Is num1 less than num2? ", num1<num2)
print("Is num1 greater than or equal to num2? ", num1>=num2)
print("Is num1 less than or equal to num2? ", num1<=num2)

Is num1 equal to num2?  False
Is num1 not equal to num2?  True
Is num1 greater than num2?  False
Is num1 less than num2?  True
Is num1 greater than or equal to num2?  False
Is num1 less than or equal to num2?  True

In [47]:
num = 3
print(num)

num += 5
print('After increment: ',num)

num-=3
print('After decrement: ',num)

num *= 2
print('After multiplication: ',num)

num **= 2
print('After Exponent: ',num)

num //= 2
print('After floor division: ',num)

3
After increment:  8
After decrement:  5
After multiplication:  10
After Exponent:  100
After floor division:  50

In [48]:
email = input('Enter your email')
password = input('Enter your password')
print(email == 'admin@gmail.com' and password == 'admin@123')

Enter your email admin@gmail.com
Enter your password admin@123

True

In [49]:
num = 10
if num>0:
    print("Positive number")

Positive number

In [51]:
num = -5
if num>0:
    print("Positive number")
else:
    print("Non-positive number")

Non-positive number

In [52]:
num = 0
if num>0:
    print("Positive number")
elif num==0:
    print("Zero")
else:
    print("Negative number")

Zero

In [55]:
#ternary operator

num = 5
print("Positive") if num>0 else print("Non-positive")

Positive

In [56]:
num = -3
result = "Positive" if num>0 else "Negative"
print(result)

Negative

In [61]:
num = 15
if num>0:
    if num%2==0:
        print("Positive and even number")
    else:
        print("Positive and odd number")
else:
    print("Non-positive number")

Positive and odd number

In [65]:
num = 5
if num>0:
    #a placeholder for future code, avoids syntax errors
    pass
else:
    print("This won't execute")

In [69]:
grade = int(input("Enter your grade"))
if(grade>=90 and grade<=100):
    print("Grade A")
elif(grade>=70 and grade<=89):
    print("Grade B")    
elif(grade>=69 and grade<=50):
    print("Grade C") 
elif(grade<50):
    print("Fail")

Enter your grade 99

Grade A

In [72]:
num = int(input("Enter a no.: "))
if(num>0):
    if(num%2==0):
        print("Number is postive and even")
    else:
        print("Number is postive and odd")

elif num==0:
    print("Number is zero")

else:
    if(num<-10):
        print("Number is less than -10")

Enter a no.:  90

Number is postive and even

In [75]:
amount = int(input("Enter purchase amount"))

if(amount>500):
    discount_amount = amount*20/100
    final_amount = amount - discount_amount
    print(final_amount)


elif(amount<=500 and amount>=200):
    discount_amount = amount*10/100
    final_amount = amount - discount_amount
    print(final_amount)

else:
    print("No discount")

Enter purchase amount 500

450.0

In [78]:
mrp = int(input('total mrp'))
discount = 0
if mrp>=500:
    discount = 20
elif mrp>=200 and mrp<500:
    discount = 10

discount_price = mrp*discount/100
final_amount = mrp-discount_price
print('Total discoun given ', discount,'%')
print('You saved ',discount_price)
print('final amount ',final_amount)

total mrp 400

Total discoun given  10 %
You saved  40.0
final amount  360.0

#LOOP

In [79]:
#while loop

count = 1
while count<=5:
    print("count: ", count)
    count += 1

count:  1
count:  2
count:  3
count:  4
count:  5

In [80]:
#for loop

for num in range(1,6):
    print("Number: ",num)

Number:  1
Number:  2
Number:  3
Number:  4
Number:  5

In [82]:
#while with break

count = 0
while count<5:
    if count==3:
        print("Breaking at count= ",count)
        break
    print("Count is ", count)
    count += 1

Count is  0
Count is  1
Count is  2
Breaking at count=  3

In [85]:
#for with break

for num in range(1, 11):
    if num==5:
        print("Breaking at number: ", num)
        break

    print("Number: ", num)

Number:  1
Number:  2
Number:  3
Number:  4
Breaking at number:  5

In [86]:
num = int(input("Enter first no.: "))
num2 = int(input("Enter second no.: "))
sum = 0
for i in range(num, num2+1):
    if(i%2==0):
        sum = sum+i;
print(sum)

Enter first no.:  4
Enter second no.:  10

28

In [101]:
def print_pattern(n):
    for i in range(1, n + 1):
        for j in range(1, i + 1):
            print(j, end=" ")
        print()


print_pattern(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [102]:
def hello():
    print('Hello World')

hello()

Hello World

In [109]:
def greet(name):
    print('Good Morning:',name)

greet('Pragya Pakhi')

Good Morning: Pragya Pakhi

In [111]:
def add_numbers(a, b):
    result = a+b
    print(f"The sum of {a} and {b} is {result}")

add_numbers(5,3)

The sum of 5 and 3 is 8

In [112]:
def mut_no(a, b):
    return a*b

result = mut_no(4, 5)
print("The product is:", result)

The product is: 20

In [113]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet("Alice")
greet()

Hello, Alice!
Hello, Guest!

In [119]:
def describe_person(name, age, city):
    print(f"{name} is {age} years old and lives in {city}.")

describe_person(age=21, city="New York", name="Pragya")   
describe_person("Pakhi", 12, "LA")

Pragya is 21 years old and lives in New York.
Pakhi is 12 years old and lives in LA.

In [120]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)

result = factorial(5)
print("Factorial of 5 is: ", result)

Factorial of 5 is:  120

In [121]:
def login(username, password):
    if username=='admin' and password=='admin123':
        print("login successfully")

In [1]:
email = input("Enter your email: ")
password = input("Enter your password: ")
 
def validate_email(email):
    if email == "admin@gmail.com":
        return True
def validate_password(password):
    if password == "admin":
        return True
if validate_email(email):
    print("Email is valid.")
else:
    print("Email is invalid.")
 
if validate_password(password):
    print("Password is valid.")
else:
    print("Password is invalid.")

Enter your email:  admin@gmail.com
Enter your password:  admin

Email is valid.
Password is valid.

In [13]:
#list

mylist = [10, 20, 30, 40, 50]
print(mylist)

print(mylist[3])
mylist.append(60)

print(mylist)

mylist.insert(2,25)
print(mylist)

data = mylist.pop()
print(data, "removed")

print(len(mylist))
print('Minimum vlaue', min(mylist))
print('Maximum vlaue', max(mylist))
print('Sum vlaue', sum(mylist))

mylist.remove(25)
print(mylist)


#check membership
print(20 in mylist)

mylist.index(20)

[10, 20, 30, 40, 50]
40
[10, 20, 30, 40, 50, 60]
[10, 20, 25, 30, 40, 50, 60]
60 removed
6
Minimum vlaue 10
Maximum vlaue 50
Sum vlaue 175
[10, 20, 30, 40, 50]
True

1

In [28]:
fruits = ["Apple", "Banana", "Cherry", "Guava"]
print(fruits)

print(fruits[1:2])

['Apple', 'Banana', 'Cherry', 'Guava']
['Banana']

In [33]:
fruits.extend([1,2,3,4])
print(fruits)

['Apple', 'Guava', 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [38]:
#delete using index no
name = ["ram", "skjs", "nj"]
del name[0]
print(name)

['skjs', 'nj']

In [39]:
name.clear()
print(name)

[]

#list iteration

In [40]:
mydata = [1,2,3,4,5,6,7,8]
for num in mydata:
    print(num)

1
2
3
4
5
6
7
8

In [41]:
i=0
while i<len(mydata):
    print(mydata[i])
    i += 1

1
2
3
4
5
6
7
8

In [47]:
numb = [3,4,5,6]
numb.sort(reverse=True)
print(numb)

[6, 5, 4, 3]

In [48]:
numb = [3,4,5,6]
numb.sort
print(numb)

[3, 4, 5, 6]

In [50]:
copy = numb.copy()
print(copy)

[3, 4, 5, 6]

In [51]:
squares = [x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [52]:
names = ('alex', 'bob', 'catty', 'david')
print(names)

mixed = ('test', True, 78.5, 9)
print(mixed)

('alex', 'bob', 'catty', 'david')
('test', True, 78.5, 9)

#type casting

In [53]:
tp = (10, 20, 30)
ls = list(tp)

ls.append(40)

tp = tuple(ls)
print(tp)

(10, 20, 30, 40)

In [54]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [55]:
new_t = ('temp',)*4
print(new_t)

('temp', 'temp', 'temp', 'temp')

In [59]:
list = [1,2,3,4,4,2,2,5,6]
print(list.count(2))


print(list.index(6))

3
8

In [60]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [61]:
# Dictionary - Key Value Pair
 
employee = {
    "eid" : 1000,
    "name" : "Paras",
    "dept" : "SAP",
    "salary" : 20000
}
 
print(employee['eid'])
print(employee['name'])
print(employee.get('dept'))
print(employee.get('manager'))
print(employee.get('manager', 'Adity'))
# get is better then simple access because if that key not present then simple one simply return the error but with .get return NONE
print(employee)
 
# Add and update the key value pair
employee['manager'] = "Shinu"
print(employee)
 
employee['manager'] = "Ravi"
print(employee)
 
# Remove the last Key Pair 
data = employee.popitem()
print(data, 'removed')
 
data = employee.pop('salary')
print(employee)

1000
Paras
SAP
None
Adity
{'eid': 1000, 'name': 'Paras', 'dept': 'SAP', 'salary': 20000}
{'eid': 1000, 'name': 'Paras', 'dept': 'SAP', 'salary': 20000, 'manager': 'Shinu'}
{'eid': 1000, 'name': 'Paras', 'dept': 'SAP', 'salary': 20000, 'manager': 'Ravi'}
('manager', 'Ravi') removed
{'eid': 1000, 'name': 'Paras', 'dept': 'SAP'}

In [65]:
# Define the student dictionary
student = {
    "id": 1,
    "name": "alex",
    "email": "alex@gmail.com",
    "address": "us"
}

# Iterate over the dictionary and print keys and values
for key in student:
    print(key, ": ", student[key])

id :  1
name :  alex
email :  alex@gmail.com
address :  us

In [67]:
print(student.items())

dict_items([('id', 1), ('name', 'alex'), ('email', 'alex@gmail.com'), ('address', 'us')])

In [68]:
for key,values in student.items():
    print(key,": ",values)

id :  1
name :  alex
email :  alex@gmail.com
address :  us

In [70]:
if "address" in student:
    print("address is present in student object")

address is present in student object

#set

In [72]:
names = {"alex", "bob", "krish", "rahul"}
print(names)

{'bob', 'rahul', 'alex', 'krish'}

In [73]:
for name in names:
    print(name)

bob
rahul
alex
krish

In [75]:
names.add("jack")
print(names)

{'jack', 'alex', 'krish', 'rahul', 'bob'}

In [83]:
names.update(['gracy', 'purva'])
print(names)

{'jack', 'alex', 'krish', 'rahul', 'gracy', 'bob', 'purva'}

In [78]:
myset = {404, 302, 200, 500, 403, 302}
print(myset) #no order is maintained and no duplicates allowed

{403, 404, 500, 200, 302}

In [79]:
for num in myset:
    print(num)

403
404
500
200
302

In [87]:
myset.add(501)
print(myset)

myset.update([303, 405])
print(myset)

{200, 402, 403, 405, 302, 303, 500, 501}
{200, 402, 403, 405, 302, 303, 500, 501}

In [88]:
myset.discard(404)
print(myset)

{200, 402, 403, 405, 302, 303, 500, 501}

In [92]:
myset.pop()
print(myset)

{302, 303, 500, 501}

In [93]:
myset.clear()
print(myset)

set()

In [95]:
if len(myset)>0:
    myset.pop()
else:
    print("set is empty")

set is empty

In [96]:
myset.update([1,2,3,4,5,6,7,8])
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8}

In [103]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

#union
print(A|B)
print(A.union(B))


#intersection
print(A&B)
print(A.intersection(B))

#difference- elements in A but not in B
print(A-B)
print(A.difference(B))

#symmetric difference
#elememts in either set, but not both

print(A^B)
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [108]:
#dictionary
employees = {
    "Pragya": 7000000000,
    "Sumit": 6000000,
    "Anshul": 5500000
}

# Adding
employees["Avish"] = 650000

# Updating
employees["Sumit"] = 800000000

# Removing
del employees["Avish"]


# Printing all employee
for name, salary in employees.items():
    print(f"Employee: {name}, Salary: {salary}")

Employee: Pragya, Salary: 7000000000
Employee: Sumit, Salary: 800000000
Employee: Anshul, Salary: 5500000

In [111]:
employees = {
    "emp1": {"name": "Pragya", "salary": 7000000000},
    "emp2": {"name": "Sumit", "salary": 6000000},
    "emp3": {"name": "Anshul", "salary": 5500000}
}

# Adding
employees["emp4"] = {"name": "Avish", "salary": 650000}

# Updating
employees["emp2"]["salary"] = 800000000

# Removing
del employees["emp4"]

# Printing all employees
for emp_id, details in employees.items():
    print(f"Employee ID: {emp_id}, Name: {details['name']}, Salary: {details['salary']}")

Employee ID: emp1, Name: Pragya, Salary: 7000000000
Employee ID: emp2, Name: Sumit, Salary: 800000000
Employee ID: emp3, Name: Anshul, Salary: 5500000

In [117]:
employees = {
    "emp1": {"name": "Pragya", "salary": 70000000000},
    "emp2": {"name": "Sumit", "salary": 80000000000},
    "emp3": {"name": "Anshul", "salary": 5500000}
}
def print_employees(employees):
    for emp in employees:
        print("------------------------")
        for key, value in employees[emp].items():
            print(key," ", value)

print_employees(employees)

------------------------
name   Pragya
salary   70000000000
------------------------
name   Sumit
salary   80000000000
------------------------
name   Anshul
salary   5500000

In [122]:
employees = {
    "emp1": {"id": 1, "name": "Pragya", "department": "HR", "salary": 70000000000},
    "emp2": {"id": 2, "name": "Sumit", "department": "IT", "salary": 80000000000},
    "emp3": {"id": 3, "name": "Anshul", "department": "Finance", "salary": 5500000}
}

def add_employee(id, name, department, salary):
    n = len(employees)
    employees[f'emp{n+1}'] = {"id": id, "name": name, "department": department, "salary": salary}
    print("Employee added successfully")

def update_employee(id, salary):
    for emp in employees:
        if employees[emp]['id'] == id:
            employees[emp]['salary'] = salary
            break

def remove_employee(id):
    for emp in list(employees):
        if employees[emp]['id'] == id:
            del employees[emp]
            break

def print_employees(employees):
    for emp in employees:
        print("------------------------")
        for key in employees[emp]:
            print(key, ":", employees[emp][key])

# Adding a new employee
add_employee(101, "Jack", "Finance", 7888)

# Updating an employee's salary
update_employee(101, 677788)

# Printing all employees
print_employees(employees)

Employee added successfully
------------------------
id : 1
name : Pragya
department : HR
salary : 70000000000
------------------------
id : 2
name : Sumit
department : IT
salary : 80000000000
------------------------
id : 3
name : Anshul
department : Finance
salary : 5500000
------------------------
id : 101
name : Jack
department : Finance
salary : 677788