In [3]:
import pandas as pd
print('Version: ',pd.__version__)

Version:  2.2.3

#with the help of pandas we can craete data frame and we can create series

In [8]:
list=[1,3,4,5,6,8,9]
myseries = pd.Series(list)
print(myseries)
#it is showing index no along with data
#pandas doesn't allow to directly work with list so we need to load it in series

print("Element at index 3:", myseries[3])

0    1
1    3
2    4
3    5
4    6
5    8
6    9
dtype: int64
Element at index 3: 5

In [14]:
a=[1,7,4]
myvar = pd.Series(a, index=["a","b","c"])
print(myvar)
print("Element at index b:",myvar["b"])

a    1
b    7
c    4
dtype: int64
Element at index b: 7

In [18]:
employee = {
    "id":1,
    "name":"Pragya Pakhi",
    "email":"pragya5364@gmail.com",
    "address":"Banglore",
    "salary":48974897485
}
data = pd.Series(employee)
print(data)
print("id: ",data["id"]) #label create automatically based on key
print("name: ", data["name"])

id                            1
name               Pragya Pakhi
email      pragya5364@gmail.com
address                Banglore
salary              48974897485
dtype: object
id:  1
name:  Pragya Pakhi

In [30]:
sample={
    "id":[11,32,43,64],
    "name":["A","B","C","D"]
}
df = pd.DataFrame(sample)
print(df)

print('----------------------------------------')
print("first row: ")
print(df.loc[0])

print('----------------------------------------')
#get first two rows
print("First two rows: ")
print(df.loc[[0,1]])

print('----------------------------------------')
print("element at 0th row and 1st column: ")
print(df.iloc[0,1]) # index loc i.e. iloc to get element at 0th row and 1st column

   id name
0  11    A
1  32    B
2  43    C
3  64    D
----------------------------------------
first row:
id      11
name     A
Name: 0, dtype: object
----------------------------------------
First two rows:
   id name
0  11    A
1  32    B
----------------------------------------
element at 0th row and 1st column:
A

In [45]:
user_data = {
    "name":["alex", "catty", "bob"],
    "age": [23,24,23]
}

df1 = pd.DataFrame(user_data, index=["user1", "user2", "user3"])
print(df1)
print('----------------------------------------')
print(df1.loc["user3"])

        name  age
user1   alex   23
user2  catty   24
user3    bob   23
----------------------------------------
name    bob
age      23
Name: user3, dtype: object

In [46]:
user_data = {
    "name":["alex", "catty", "bob"],
    "age": [23,24,23],
    "salary" : [3434, 5653, 9864],
    "email": ["alex@gmail.com", "catty@gmail.com", "bob@gmail.com"]
}

#we can change the order by using columns
df1 = pd.DataFrame(user_data, columns=["salary", "email", "name", "age"])
print(df1)

   salary            email   name  age
0    3434   alex@gmail.com   alex   23
1    5653  catty@gmail.com  catty   24
2    9864    bob@gmail.com    bob   23

In [47]:
#list inside list
data = [
    ["Alice", 25, "New York"],
    ["Bob", 30, "Los Angeles"],
    ["cahrlie", 35, "Chicago"],
    ["David", 40, "Houston"]
]

df = pd.DataFrame(data, columns=["Name", "Age", "City"])
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  cahrlie   35      Chicago
3    David   40      Houston

In [50]:
sd = pd.read_csv('MOCK_DATA.csv')
print(sd) #printing entire dataframe

     id                name                       email       gender  grade
0     1      Anderson Klink           aklink0@prlog.org         Male    9.2
1     2      Melisande Done            mdone1@chron.com       Female    6.8
2     3     Babbie Dilworth       bdilworth2@joomla.org       Female    1.9
3     4       Bengt Tennock         btennock3@hc360.com         Male    5.8
4     5     Annamarie Sloey      asloey4@bravesites.com       Female    7.2
..  ...                 ...                         ...          ...    ...
95   96  Vittoria Grosvener      vgrosvener2n@prlog.org  Genderfluid    6.6
96   97        Fanya Tigner     ftigner2o@webeden.co.uk       Female    1.9
97   98    Mallorie Caldaro  mcaldaro2p@telegraph.co.uk       Female    3.7
98   99    Ilaire Fairholme        ifairholme2q@home.pl  Genderqueer    5.8
99  100     Dwain Beazleigh     dbeazleigh2r@eepurl.com         Male    3.6

[100 rows x 5 columns]

In [55]:
sd.head()

   id             name                   email  gender  grade
0   1   Anderson Klink       aklink0@prlog.org    Male    9.2
1   2   Melisande Done        mdone1@chron.com  Female    6.8
2   3  Babbie Dilworth   bdilworth2@joomla.org  Female    1.9
3   4    Bengt Tennock     btennock3@hc360.com    Male    5.8
4   5  Annamarie Sloey  asloey4@bravesites.com  Female    7.2

In [56]:
print(sd.head())

   id             name                   email  gender  grade
0   1   Anderson Klink       aklink0@prlog.org    Male    9.2
1   2   Melisande Done        mdone1@chron.com  Female    6.8
2   3  Babbie Dilworth   bdilworth2@joomla.org  Female    1.9
3   4    Bengt Tennock     btennock3@hc360.com    Male    5.8
4   5  Annamarie Sloey  asloey4@bravesites.com  Female    7.2

In [58]:
#see all data
print(sd.to_string())

     id                   name                              email       gender  grade
0     1         Anderson Klink                  aklink0@prlog.org         Male    9.2
1     2         Melisande Done                   mdone1@chron.com       Female    6.8
2     3        Babbie Dilworth              bdilworth2@joomla.org       Female    1.9
3     4          Bengt Tennock                btennock3@hc360.com         Male    5.8
4     5        Annamarie Sloey             asloey4@bravesites.com       Female    7.2
5     6     Veronique Saladino         vsaladino5@arstechnica.com       Female    1.2
6     7        Raychel Cattach            rcattach6@posterous.com      Agender    4.6
7     8               Vin Tume                   vtume7@github.io         Male    4.8
8     9           Tore Seleway               tseleway8@unicef.org         Male    2.8
9    10           Opal Edgeler             oedgeler9@springer.com       Female    9.9
10   11       Timothea Farriar           tfarriara@macromedia.com       Female    1.2
11   12          Torey Fiddian                  tfiddianb@psu.edu       Female    8.7
12   13       Thoma Guitonneau             tguitonneauc@slate.com         Male    9.3
13   14        Loretta Thrower                lthrowerd@naver.com       Female    9.0
14   15            Cori Vasler             cvaslere@webeden.co.uk         Male    8.7
15   16            Meryl Byrde              mbyrdef@moonfruit.com       Female    8.7
16   17         Goddart Guerin                   gguering@cmu.edu         Male    1.1
17   18          Warner Peeter             wpeeterh@quantcast.com         Male    8.5
18   19      Vasily Cutteridge               vcutteridgei@mapy.cz         Male    3.1
19   20             Myrah Balm                   mbalmj@hexun.com       Female    1.4
20   21          Juliann Jerke           jjerkek@businesswire.com       Female    7.2
21   22     Cristabel Skeermer        cskeermerl@wunderground.com       Female    7.1
22   23            Amalia Izen                 aizenm@yahoo.co.jp     Bigender    1.5
23   24         Sharleen Doale             sdoalen@prnewswire.com       Female    9.6
24   25    Christos Losseljong                closseljongo@ed.gov         Male    1.8
25   26             Hana Liver                 hliverp@forbes.com       Female    2.2
26   27         Tonye Scottini                tscottiniq@narod.ru       Female    3.4
27   28      Geraldine Peacock                gpeacockr@cisco.com       Female    7.3
28   29         Baxter Sporrij           bsporrijs@soundcloud.com         Male    3.6
29   30         Shari Jelleman             sjellemant@walmart.com       Female    2.3
30   31            Conny Awdry            cawdryu@fastcompany.com         Male    9.2
31   32        Chloette Cotter                   ccotterv@mtv.com       Female    3.1
32   33      Wayne O'Hdirscoll          wohdirscollw@springer.com         Male    8.7
33   34       Cornelia Tackett             ctackettx@vkontakte.ru       Female    9.4
34   35        Eulalie Phippin                ephippiny@bbc.co.uk   Polygender    8.4
35   36         Yetty Llywarch             yllywarchz@storify.com       Female    9.4
36   37         Dimitry Gounel         dgounel10@odnoklassniki.ru         Male    2.7
37   38          Cleve Kennady  ckennady11@nationalgeographic.com         Male    6.0
38   39        Cullie Mardling              cmardling12@google.nl         Male    8.3
39   40            Dav Khotler      dkhotler13@huffingtonpost.com         Male    4.1
40   41        Davin Grisedale             dgrisedale14@apple.com         Male    2.4
41   42        Allan Gregersen           agregersen15@weather.com         Male    8.2
42   43       Karlens Ferrotti         kferrotti16@cloudflare.com         Male    7.0
43   44          Raphaela Spat                 rspat17@netlog.com       Female    7.3
44   45       Finley Bartholin           fbartholin18@tinyurl.com         Male    4.7
45   46          Prince Pagden                 ppagden19@jugem.jp         Male    6.0
46   47        Jarrad Cabrales               jcabrales1a@bing.com         Male    6.8
47   48           Tucker Hedge                thedge1b@cpanel.net         Male    6.1
48   49        Humberto Weaben          hweaben1c@cyberchimps.com         Male    1.3
49   50       Gennifer Turnock             gturnock1d@tinyurl.com       Female    6.6
50   51         Bran Aloshikin            baloshikin1e@cdbaby.com         Male    7.8
51   52         Tobit Bernette             tbernette1f@hao123.com         Male    9.1
52   53         Tracy Ashcroft             tashcroft1g@zimbio.com  Genderqueer    1.8
53   54        Freddi Keoghane               fkeoghane1h@noaa.gov       Female    1.2
54   55        Nilson Brisbane              nbrisbane1i@yahoo.com         Male    1.2
55   56       Ianthe Kneaphsey           ikneaphsey1j@youtube.com       Female    2.2
56   57        Bryce Mallebone           bmallebone1k@reuters.com         Male    8.4
57   58              Ode Jeste                ojeste1l@rambler.ru         Male    8.4
58   59           Debbi Edmead               dedmead1m@abc.net.au       Female    4.1
59   60            Thea Gethyn                   tgethyn1n@pen.io       Female    9.7
60   61        Rosaline Piniur                    rpiniur1o@is.gd       Female    6.4
61   62          Lyell Worboys         lworboys1p@hugedomains.com         Male    2.4
62   63         Camile Binnell          cbinnell1q@technorati.com       Female    7.1
63   64            Itch Aynold                 iaynold1r@ucsd.edu         Male    3.0
64   65          Read St. Paul                      rst1s@ibm.com         Male    8.6
65   66          Warde Kirmond                wkirmond1t@java.com         Male    9.1
66   67  Hortense Degli Antoni                  hdegli1u@narod.ru       Female    1.8
67   68        Isiahi Clampett                 iclampett1v@ft.com         Male    8.1
68   69        Carlie Huxtable                chuxtable1w@mlb.com         Male    4.7
69   70          Mellie Gerler               mgerler1x@nature.com       Female   10.0
70   71        Eadmund Orneles         eorneles1y@list-manage.com         Male    6.3
71   72       Gisella McKellen             gmckellen1z@flickr.com       Female    2.7
72   73           Kent Medwell                 kmedwell20@soup.io         Male    9.7
73   74         Odella Duckels               oduckels21@google.cn       Female    1.8
74   75       Carlie Ranscombe         cranscombe22@tuttocitta.it       Female    9.1
75   76      Robinia Braunroth               rbraunroth23@msn.com       Female    9.3
76   77         Gianina Reolfo        greolfo24@elegantthemes.com       Female    3.3
77   78      Claretta Veltmann                cveltmann25@nps.gov       Female    7.0
78   79          Vikki Brunner            vbrunner26@berkeley.edu       Female    1.0
79   80       Nehemiah Ludmann                  nludmann27@pen.io         Male    7.2
80   81            Ardra Venes                 avenes28@chron.com       Female    1.8
81   82          Hartley Bowes                 hbowes29@google.nl         Male    1.3
82   83       Jereme Barenskie              jbarenskie2a@blog.com  Genderfluid    6.1
83   84         Cletus Coxhead               ccoxhead2b@upenn.edu         Male    8.3
84   85           Tallie Males           tmales2c@istockphoto.com         Male    6.7
85   86             Daile Rutt                    drutt2d@cmu.edu       Female    6.8
86   87          Romola Petera                   rpetera2e@va.gov   Polygender    8.0
87   88         Eugine Dumingo               edumingo2f@amazon.de       Female    2.0
88   89        Catlin Sieghard                csieghard2g@mac.com       Female    8.5
89   90          Starr Ivashin       sivashin2h@printfriendly.com  Genderfluid    6.3
90   91          Poul Ruppertz              pruppertz2i@hc360.com         Male    5.6
91   92       Jasmine Stephens        jstephens2j@istockphoto.com       Female    3.8
92   93        Theda Mulvihill           tmulvihill2k@shop-pro.jp      Agender    9.2
93   94          Jeane Crummey                jcrummey2l@live.com       Female    9.9
94   95            Ody Henriet                 ohenriet2m@icio.us         Male    3.0
95   96     Vittoria Grosvener             vgrosvener2n@prlog.org  Genderfluid    6.6
96   97           Fanya Tigner            ftigner2o@webeden.co.uk       Female    1.9
97   98       Mallorie Caldaro         mcaldaro2p@telegraph.co.uk       Female    3.7
98   99       Ilaire Fairholme               ifairholme2q@home.pl  Genderqueer    5.8
99  100        Dwain Beazleigh            dbeazleigh2r@eepurl.com         Male    3.6

In [59]:
print(sd.head(3))

   id             name                  email  gender  grade
0   1   Anderson Klink      aklink0@prlog.org    Male    9.2
1   2   Melisande Done       mdone1@chron.com  Female    6.8
2   3  Babbie Dilworth  bdilworth2@joomla.org  Female    1.9

In [61]:
print(sd.tail(2))

     id              name                    email       gender  grade
98   99  Ilaire Fairholme     ifairholme2q@home.pl  Genderqueer    5.8
99  100   Dwain Beazleigh  dbeazleigh2r@eepurl.com         Male    3.6

In [66]:
print(sd.shape)

(100, 5)

In [68]:
#to get the summary of entire dataframe
print(sd.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    int64
 1   name    100 non-null    object
 2   email   100 non-null    object
 3   gender  100 non-null    object
 4   grade   100 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB
None

In [73]:
sd.describe()


#if we print it using print fn it will give it in the form of string

               id       grade
count  100.000000  100.000000
mean    50.500000    5.670000
std     29.011492    2.925938
min      1.000000    1.000000
25%     25.750000    2.775000
50%     50.500000    6.300000
75%     75.250000    8.400000
max    100.000000   10.000000

In [75]:
print() #all the names

0         Anderson Klink
1         Melisande Done
2        Babbie Dilworth
3          Bengt Tennock
4        Annamarie Sloey
             ...
95    Vittoria Grosvener
96          Fanya Tigner
97      Mallorie Caldaro
98      Ilaire Fairholme
99       Dwain Beazleigh
Name: name, Length: 100, dtype: object

In [78]:
sd[['id', 'name', 'grade']].head() #first 5 rows with only id, name and grade

   id             name  grade
0   1   Anderson Klink    9.2
1   2   Melisande Done    6.8
2   3  Babbie Dilworth    1.9
3   4    Bengt Tennock    5.8
4   5  Annamarie Sloey    7.2

In [79]:
sd['grade'].describe()

count    100.000000
mean       5.670000
std        2.925938
min        1.000000
25%        2.775000
50%        6.300000
75%        8.400000
max       10.000000
Name: grade, dtype: float64

#Student perfromance calculation